.App {
  text-align: center;
  background-color: #282c34;
  color: #61dafb;
}

.ListItem {
  color: #61dafb;
}

.todoScript {
  font-weight: bold;
  user-select: none;
  font-size: large;
}

.editForm {
  opacity: 0.7;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.trashButton {
  background-color: #282c34;
  border: 1px solid transparent;
}

.trashIcon {
  color: orange;
  font-size: 23px;
}

.twitterIcon {
  font-size: 26px;
  color: aqua;
}

.pencilIcon {
  font-size: 24px;
  color: white;
}
