.App {
  text-align: center;
  background-color: #282c34;
  color: #61dafb;
  word-break: break-all;
}

.ListItem {
  color: #61dafb;
}

.editForm {
  opacity: 0.7;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}

.trashButton {
  background-color: #34414f;
  border: 1px solid transparent;
}

@media (min-width: 768px) { 
  .todoScript {
    font-weight: bold;
    user-select: none;
    font-size: large;
    margin-left: -20px;
    margin-right: 90px;
  }  

  .trashIcon {
    color: orange;
    font-size: 20px;
    margin-left: 1rem!important;
  }
  
  .twitterIcon {
    font-size: 23px;
    color: aqua;
  }
  
  .pencilIcon {
    font-size: 22px;
    color: white;
    margin-left: 1.5rem!important;
    margin-bottom: .5rem!important;
  }
}

@media (max-width: 767px) {
  .todoScript {
    font-weight: bold;
    user-select: none;
    font-size: small;
    margin-left: -20px;
    margin-right: 54px;
  }
  
  .trashIcon {
    color: orange;
    font-size: 15px;
    margin-left: 7px;
  }
  
  .twitterIcon {
    font-size: 18px;
    color: aqua;
  }
  
  .pencilIcon {
    font-size: 17px;
    color: white;
    margin-left: 15px;
    margin-bottom: 4px;  
  }
}

